{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="b-contacts-header">
            <div class="map" id="js_map"></div>
            <div class="page-header-content">
                <div class="page-header-text">
                    <div class="description">
                        <h3 class="title">Магазин "Дундьо"</h3>
                        <ul>
                            <li>Понедекник - Неделя: 10:00 - 20:00ч.</li>
                            <li>гр. София, кв, ул. „Йерусалим“ 3, 1505 Младост 1, София</li>
                            <li>Тел: 087 891 2029</li>
                            <li>E-mail: Dundio@yahoo.com</li>
                        </ul>
                    </div>
                </div>
                <div class="map-pin-container">
                    <svg aria-hidden="true" class="map-pin">
                        <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#map_pin_icon"></use>
                    </svg>
                    <span>Дундьо</span>
                </div>
            </div>
        </section>
        <div class="wrapper">
            <section class="b-addresses">
                <div class="cols cols-full">
                    <div class="col col6of12">
                        <div class="address-container">
                            <svg aria-hidden="true" class="sun-cloud-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#sun_cloud_icon"></use>
                            </svg>
                            <div class="address-content">
                                <h3 class="title">Отдел София</h3>
                                <div class="address-detail">
                                    <svg aria-hidden="true" class="address-detail-icon">
                                        <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#map_pin_icon"></use>
                                    </svg>
                                    <span class="address-text">гр. София, кв, ул. „Йерусалим“ 3, 1505 Младост 1, София</span>
                                </div>
                                <div class="address-detail">
                                    <svg aria-hidden="true" class="phone-detail-icon">
                                        <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#phone_icon"></use>
                                    </svg>
                                    <span>087 891 2029</span>
                                </div>
                                <div class="address-detail">
                                    <svg aria-hidden="true" class="email-detail-icon">
                                        <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#contact_email_icon"></use>
                                    </svg>
                                    <span>Dundio@yahoo.com</span>
                                </div>
                            </div>
                            <div class="working-hours">
                                <h3 class="title">Работно време:</h3>
                                <span>Пон-Пет: 10:00 - 20:00ч.</span>
                                <span>Съб-Нед: 10:00 - 18:00ч.</span>
                            </div>
                            <input class="js-map-location" type="hidden" data-lat="42.704248" data-lng="23.308431"/>
                        </div>
                    </div>
                    <div class="col col6of12">
                        <div class="address-container">
                            <svg aria-hidden="true" class="sun-cloud-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#sun_cloud_icon"></use>
                            </svg>
                            <div class="address-content">
                                <h3 class="title">Отдел София</h3>
                                <div class="address-detail">
                                    <svg aria-hidden="true" class="address-detail-icon">
                                        <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#map_pin_icon"></use>
                                    </svg>
                                    <span class="address-text">гр. София, кв, ул. „Йерусалим“ 3, 1505 Младост 1, София</span>
                                </div>
                                <div class="address-detail">
                                    <svg aria-hidden="true" class="phone-detail-icon">
                                        <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#phone_icon"></use>
                                    </svg>
                                    <span>087 891 2029</span>
                                </div>
                                <div class="address-detail">
                                    <svg aria-hidden="true" class="email-detail-icon">
                                        <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#contact_email_icon"></use>
                                    </svg>
                                    <span>Dundio@yahoo.com</span>
                                </div>
                            </div>
                            <div class="working-hours">
                                <h3 class="title">Работно време:</h3>
                                <span>Пон-Пет: 10:00 - 20:00ч.</span>
                                <span>Съб-Нед: 10:00 - 18:00ч.</span>
                            </div>
                            <input class="js-map-location" type="hidden" data-lat="42.704248" data-lng="23.308431"/>
                        </div>
                    </div>
                </div>
            </section>
            <section class="b-contact-form">
                <h3 class="title">Свържете се с нас</h3>
                <form class="form-contact" action="" method="POST">
                    <div class="form-row">
                        <input type="text" placeholder="Имена" required>
                    </div>
                    <div class="form-row">
                        <input type="email" placeholder="И-мейл" required>
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Телефон за връзка" required>
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Тема на съобщението" required>
                    </div>
                    <div class="form-row">
                        <textarea name="" id="" rows="10" placeholder="Съобщение" required></textarea>
                    </div>
                    <div class="form-row">
                        <div class="choose check">
                            <input type="checkbox" name="personal-data" id="personal-data">
                            <label for="personal-data">Съгласявам се личните ми данни да бъдат обработени от
                                сайта</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-tertiary">Изпрати</button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}