{% load static i18n %}
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                               style="table-layout:fixed;">
                            <tr>
                                <td style="padding-top: 100px;"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center; padding-top: 13px; padding-bottom: 10px; color: #9a939d; font-size: 13px; font-family: RotondaC; border-top: 1px solid rgb(154, 147, 157);">
                                    {% trans 'Последвай ни' %}
                                    <a href="#"><img src="{{ base_url }}{% get_static_prefix %}images/facebook-logo.png"
                                                     alt="facebook logo"
                                                     style="width: 18px; height: 18px; padding-left: 10px; margin-top: -1px;"></a>
                                    <a href="#"><img src="{{ base_url }}{% get_static_prefix %}images/instagram-logo.png"
                                                     alt="instagram logo"
                                                     style="width: 18px; height: 18px; padding-left: 5px; margin-top: -1px;"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; color: #9a939d; font-size: 13px; font-family: RotondaC;">
                                    {% trans 'ул. „Йерусалим“ 3, 1505 Младост 1, София' %} <img
                                        src="{{ base_url }}{% get_static_prefix %}images/Line-2.png" alt="grey vertical line"
                                        style="height: 15px; width: 2px; padding-left: 5px; padding-right: 5px; margin-bottom: -3px;">
                                    dundio@yahoo.com
                                    <img src="{{ base_url }}{% get_static_prefix %}images/Line-2.png" alt="grey vertical line"
                                         style="height: 15px; width: 2px; padding-left: 5px; padding-right: 5px; margin-bottom: -3px;">
                                    (02)5353 363
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding-top: 10px; text-align: center; color: #9a939d; font-size: 13px; font-family: RotondaC;">
                        {% trans 'Бебешки магазин Дундьо' %}
                    </td>
                </tr>