{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <main class="main index-dots-bg">
        <section class="accent-carousel-container">
            <div class="accent-carousel">
                <div class="carousel-slide">
                    <figure>
                        <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-accent-image_01.jpg" alt=""
                             width="1920" height="914">
                    </figure>
                    <div class="description-container">
                        <h1 class="title">{% trans 'Намаление на бебешки аксесоари през Септември' %}</h1>
                        <span class="subtitle">{% trans 'Вземете своята Дундьо CLUB карта и се възползвайте от 10% бонус' %}</span>
                        <a href="#" class="btn btn-carousel">{% trans 'Научи повече' %}</a>
                    </div>
                </div>
                <div class="carousel-slide">
                    <figure>
                        <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-accent-image_01.jpg" alt=""
                             width="1920" height="914">
                    </figure>
                    <div class="description-container">
                        <h1 class="title">Намаление на бебешки аксесоари през Септември</h1>
                        <span class="subtitle">Вземете своята Дундьо CLUB карта и се възползвайте от 10% бонус</span>
                        <a href="#" class="btn btn-carousel">Научи повече</a>
                    </div>
                </div>
                <div class="carousel-slide">
                    <figure>
                        <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-accent-image_01.jpg" alt=""
                             width="1920" height="914">
                    </figure>
                    <div class="description-container">
                        <h1 class="title">Намаление на бебешки аксесоари през Септември</h1>
                        <span class="subtitle">Вземете своята Дундьо CLUB карта и се възползвайте от 10% бонус</span>
                        <a href="#" class="btn btn-carousel">Научи повече</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="accent-advantages">
            <div class="wrapper">

                <div class="advantages-heading">
                    <h2 class="title">Защо да изберете нас?</h2>
                    <p class="short-description">Никога не пропускайте нашите горещи предложения! Побързайте да се
                        запишете сега</p>
                </div>

                <div class="boxes boxes-advantages">

                    <div class="box box-advantages">
                        <figure>
                            <img src="{% get_static_prefix %}images/Icon1_03.png" alt="" width="250" height="250">
                        </figure>
                        <h3 class="title">Безплатна доставка</h3>
                        <p class="short-description">В цяла България при поръчки на стойност над <b>60лв.</b></p>
                    </div>

                    <div class="box box-advantages">
                        <figure>
                            <img src="{% get_static_prefix %}images/Icon2.png" alt="" width="250" height="250">
                        </figure>
                        <h3 class="title">сигурно и лесно плащане</h3>
                        <p class="short-description">Плащане след получаване и преглед на поръчка.</p>
                    </div>

                    <div class="box box-advantages">
                        <figure>
                            <img src="{% get_static_prefix %}images/Icon3_03.png" alt="" width="250" height="250">
                        </figure>
                        <h3 class="title">лесно връщане</h3>
                        <p class="short-description">Разполагате ц 14 дневен срок за връщане на стоката</p>
                    </div>

                </div>

            </div>
        </section>
        <section class="accents-new-products">
            <div class="wrapper">
                <div class="heading-container">
                    <figure>
                        <img src='{% get_static_prefix %}images/00_04Products-title_03.png' alt="">
                        <h2 class="title">Нови продукти</h2>
                    </figure>
                </div>
                <div class="boxes boxes-products">

                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-chair_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-scooter_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-swing_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-stroller-250x200_03.png"
                                 alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-chair_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-scooter_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-swing_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-stroller-250x200_03.png"
                                 alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>

                </div>
                <div class="view-all-products">
                    <a href="#">
                        <span>Виж всички</span>
                        <svg aria-hidden="true" class="right-arrow-icon">
                            <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#right_arrow_icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
        <section class="b-dundio-club">
            <figure>
                <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-club_02.jpg" alt="">
            </figure>
            <div class="description-container">
                <h2 class="title">Дундьо CLUB</h2>
                <p class="short-description">Вземете своята Дундьо CLUB карта и се възползвайте от 10% бонус при всяка
                    покупка.</p>
                <a href="#" class="btn btn-primary">Виж повече</a>
            </div>
            <svg aria-hidden="true" class="cloud-club-left-big">
                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#cloud_club_left_big"></use>
            </svg>
            <svg aria-hidden="true" class="cloud-club-left-small">
                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#cloud_club_left_small"></use>
            </svg>
            <svg aria-hidden="true" class="cloud-club-right">
                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#cloud_club_right"></use>
            </svg>
            <svg aria-hidden="true" class="small-balloon-icon">
                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#small_balloon_icon"></use>
            </svg>
            <svg aria-hidden="true" class="big-balloon-icon">
                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#big_balloon_icon"></use>
            </svg>
        </section>
        <section class="accents-promo-products">
            <div class="wrapper">
                <div class="heading-container">
                    <figure>
                        <img alt="" src="{% get_static_prefix %}images/00_04Products-title_03.png">
                        <h2 class="title">Промо продукти</h2>
                    </figure>
                </div>
                <div class="boxes boxes-products">

                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src='{% get_static_prefix %}images/00_04Homepage-Dundio-chair_03.png' alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-scooter_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-swing_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src={% static "images/00_04Homepage-Dundio-stroller-250x200_03.png" %} alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-chair_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-scooter_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-swing_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>


                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label isPercent">%</span>
                        </div>
                        <figure class="product-image">
                            <img src="{% get_static_prefix %}images/00_04Homepage-Dundio-stroller-250x200_03.png"
                                 alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price has-flag">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>

                </div>
                <div class="view-all-products">
                    <a href="#">
                        <span>Виж всички</span>
                        <svg aria-hidden="true" class="right-arrow-icon">
                            <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#right_arrow_icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}