<main class="main">
    <section class="b-error-content">
        <div class="wrapper">
            <div class="title-container">
                <span>4</span>
                <svg aria-hidden="true" class="monster-icon">
                    <use xlink:href="../../images/svg-sprite.svg#monster_icon"></use>
                </svg>
                <span>4</span>
            </div>
            <span class="description">Уупс! Страницата, която търсите не може да бъде намерена!</span>
            <a href="index.html" class="btn btn-secondary">Начало</a>
        </div>
    </section>
</main>