<main class="main">
        <div class="wrapper">
            <form action="" class="form-change-password">
                <h3 class="title">Създайте нова парола</h3>
                <div class="form-row">
                    <input type="password" placeholder="Нова парола">
                </div>
                <div class="form-row">
                    <input type="password" placeholder="Повтори парола">
                </div>
                <button type="submit" class="btn btn-tertiary">Промени</button>
            </form>
        </div>
    </main>