<main class="main">
    <div class="wrapper">
        <form action="" class="form-login">
            <h3 class="title">Влезте в профила си</h3>
            <div class="form-row">
                <input type="text" placeholder="Потребителско име">
            </div>
            <div class="form-row">
                <input type="password" placeholder="Парола">
            </div>
            <button type="submit" class="btn btn-tertiary">Вход</button>
            <a href="#">Регистрация</a>
            <a href="#">Забравена парола?</a>
        </form>
    </div>
</main>