<main class="main">
        <section class="b-page-header">
            <div class="page-header-content">
                <svg aria-hidden="true" class="stroller-icon">
                    <use xlink:href="../../images/svg-sprite.svg#category_icon_1"></use>
                </svg>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Начало</a></li>
                        <li><a href="#">Производители</a></li>
                        <li><a href="#">Cangaroo</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="b-manufacturers-content">
            <div class="wrapper">
                <div class="cols cols-full">
                    <div class="col col3of12">
                        <aside class="c-filters">
                            <form class="form-filters" action="">
                                <div class="filter-type">
                                    <span>Категории</span>
                                    <svg aria-hidden="true" class="dropdown-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                                    </svg>
                                </div>
                                <div class="filter-content">
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_1" id="category_item_1" placeholder="" />
                                            <label for="category_item_1">Бебешки колички</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_2" id="category_item_2" placeholder="" />
                                            <label for="category_item_2">Всичко за детето</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_3" id="category_item_3" placeholder="" />
                                            <label for="category_item_3">Безопастност</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_4" id="category_item_4" placeholder="" />
                                            <label for="category_item_4">Хигиена</label>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_5" id="category_item_5" placeholder="" />
                                            <label for="category_item_5">Спорт</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_6" id="category_item_6" placeholder="" />
                                            <label for="category_item_6">Уреди</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_7" id="category_item_7" placeholder="" />
                                            <label for="category_item_7">За кола</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_8" id="category_item_8" placeholder="" />
                                            <label for="category_item_8">За баня</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_9" id="category_item_9" placeholder="" />
                                            <label for="category_item_9">Играчки</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_10" id="category_item_10" placeholder="" />
                                            <label for="category_item_10">Хранене</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_11" id="category_item_11" placeholder="" />
                                            <label for="category_item_11">Всичко за майката</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_12" id="category_item_12" placeholder="" />
                                            <label for="category_item_12">Обзавеждане за стая</label>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="choose check">
                                            <input type="checkbox" name="category_item_13" id="category_item_13" placeholder="" />
                                            <label for="category_item_13">Облекло и аксесоари</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-type">
                                    <span>Цена</span>
                                    <svg aria-hidden="true" class="dropdown-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                                    </svg>
                                </div>
                                <div class="filter-content">
                                    <div class="form-row">
                                        <div class="range-slider" id="range_slider"></div>  
                                        <p class="range-slider-values">
                                            <div class="min-value-container">
                                                <label for="min-value">От:</label>
                                                <input type="text" name="min-value" class="min-value" data-value="12" id="min-value" readonly>
                                                <label for="min-value">лв</label>
                                            </div>
                                            <div class="max-value-container">
                                                <label for="max-value">До:</label>
                                                <input type="text" name="max-value" class="max-value" data-value="487" id="max-value" readonly>
                                                <label for="max-value">лв</label>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="sorting-options-container">
                                    <div class="order-by">
                                        <select name="order_by_js" id="order_by_js">
                                            <option value="0">Сортирай</option>
                                            <option value="1">Най - ниска цена</option>
                                            <option value="2">Най - ниска цена</option>
                                            <option value="3">Азбучен ред (А-Я)</option>
                                            <option value="4">Азбучен ред (Я-А)</option>
                                        </select>
                                        <svg aria-hidden="true" class="dropdown-icon">
                                            <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                                        </svg>
                                    </div>
                                    <div class="to-show">
                                        <select name="show_type_js" id="show_type_js">
                                            <option value="0">Покажи</option>
                                            <option value="2">12 реда</option>
                                            <option value="3">24 реда</option>
                                        </select>
                                        <svg aria-hidden="true" class="dropdown-icon">
                                            <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                                        </svg>
                                    </div>
                                </div>
                            </form>
                        </aside>
                    </div>
                    <div class="col col9of12">
                        <div class="boxes boxes-products">
                            
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-chair_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-scooter_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3> 
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-swing_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-stroller-250x200_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-chair_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-scooter_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-swing_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-stroller-250x200_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-scooter_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-swing_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-stroller-250x200_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
                        
                            <a href="#" class="box box-products">
                                <div class="add-to-cart">
                                    <svg aria-hidden="true" class="shopping-cart-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                                    </svg>
                                    <span class="add-to-cart-label">ново</span>
                                </div>
                                <figure class="product-image">
                                    <img src="../../images/00_04Homepage-Dundio-scooter_03.png" alt="">
                                </figure>
                                <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                                <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                                <span class="product-make">Cangaroo</span>
                                <div class="product-price clearfix">
                                    <span class="old-price">159.90лв.</span>
                                    <span class="new-price">159.90лв.</span>
                                </div>
                            </a>
    
                        </div>
                    </div>
                </div>
                <div class="paging">
                    <ul>
                        <li class="prev">
                            <a href="">
                                <svg aria-hidden="true" class="arrow-left-icon">
                                    <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                                </svg>
                            </a>                          
                        </li>
                        <li class="selected"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">6</a></li>
                        <li class="next">
                            <a href="">
                                <svg aria-hidden="true" class="arrow-right-icon">
                                    <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>