<main class="main">
        <section class="b-page-header">
            <div class="page-header-content">
                <svg aria-hidden="true" class="stroller-icon">
                    <use xlink:href="../../images/svg-sprite.svg#category_icon_1"></use>
                </svg>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Начало</a></li>
                        <li><a href="#">Моят профил</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="wrapper">
            <div class="cols cols-no-gutter profile-container">
                <div class="col col3of12">
                    <div class="nav-profile">
    
                        <h3 class="title">Моят профил</h3>
    
                        <div class="profile-tab clearfix has-flag" id="edit_profile">
                            <svg aria-hidden="true" class="tab-icon">
                                <use xlink:href="../../images/svg-sprite.svg#edit_icon"></use>
                            </svg>
                            <span>Редактирай</span>
                            <svg aria-hidden="true" class="tab-right-arrow">
                                <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                            </svg>
                        </div>
    
                        <div class="profile-tab clearfix" id="order_history">
                            <svg aria-hidden="true" class="tab-icon">
                                <use xlink:href="../../images/svg-sprite.svg#history_icon"></use>
                            </svg>
                            <span>История на поръчките</span>
                            <svg aria-hidden="true" class="tab-right-arrow">
                                <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                            </svg>
                        </div>
    
                        <div class="profile-tab clearfix">
                            <a href="#">
                                <svg aria-hidden="true" class="tab-icon">
                                    <use xlink:href="../../images/svg-sprite.svg#logout_icon"></use>
                                </svg>
                                <span>Изход</span>
                                <svg aria-hidden="true" class="tab-right-arrow">
                                    <use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col9of12">
                    <div class="c-tab-edit-content has-flag">
                        <form action="" class="form-edit-business-acc">
                            <h3 class="title">Редактиране на акаунт</h3>
                            <div class="field field-input">
                                <div class="form-row">
                                    <input type="text" placeholder="Потребителско име">
                                </div>
                                <div class="form-row">
                                    <input type="password" placeholder="Стара Парола">
                                </div>
                                <div class="form-row">
                                    <input type="password" placeholder="Нова парола">
                                </div>
                                <div class="form-row">
                                    <input type="password" placeholder="Повтори парола">
                                </div>
                            </div>
                            <div class="field field-input clearfix">
                                <button type="reset" class="btn btn-continue">Отмени</button>
                                <button type="submit" class="btn btn-finish">Запази</button>
                            </div>
                        </form>
                        <form action="" class="form-edit-business-acc">
                            <h3 class="title">Информация за фирмата</h3>
                            <div class="field field-input">
                                <div class="form-row">
                                    <input type="text" placeholder="Име на юридическото лице">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="Адрес по данъчна регистрация">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="МОЛ">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="ЕИК">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="ДДС номер">
                                </div>
                            </div>
                            <h3 class="title">Лице за контакт</h3>
                            <div class="field field-input">
                                <div class="form-row">
                                    <input type="text" placeholder="Имена">
                                </div>
                                <div class="form-row">
                                    <input type="email" placeholder="И-мейл">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="Телефон за връзка">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="Номер на карта Dundio CLUB">
                                </div>
                            </div>
                            <h3 class="title">Адреси за доставка</h3>
                            <div class="field field-input">
                                <div class="form-row">
                                    <input type="text" placeholder="Адрес">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="Населено място">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="Област">
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="Пощенски код">
                                </div>
                            </div>
                            <div class="field field-input clearfix">
                                <button type="reset" class="btn btn-continue">Отмени</button>
                                <button type="submit" class="btn btn-finish">Запази</button>
                            </div>
                        </form>
                    </div>
                    <div class="c-tab-history-content">
    
                        <div class="order-container">
                            <div class="heading">
                                <div class="order-status">
                                    <span class="has-flag">В процес на доставяне</span>
                                    <span class="">Доставено на 03 / 04 / 2019г.</span>
                                </div>
                                <span>&numero; 348383884</span>
                            </div>
    
                            <div class="content-container">
                                <div class="content">
                                    <div class="c-product">
                                        <div class="product-info">
                                            <figure>
                                                <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                            </figure>
                                            <div class="description">
                                                <span class="title">Mima Зимен комплект - Snow White</span>
                                                <span class="weight">Тегло: 5 кг.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-single-price">
                                        <span class="price">460.50 лв. / бр.</span>
                                    </div>
                                    <div class="c-quantity">
                                        <div class="quantity-input">
                                            <input type="text" value="1" readonly>
                                        </div>
                                    </div>
                                    <div class="c-final-price">
                                        <span class="price">460.50 лв.</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="content-container">
                                <div class="content">
                                    <div class="c-product">
                                        <div class="product-info">
                                            <figure>
                                                <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                            </figure>
                                            <div class="description">
                                                <span class="title">Mima Зимен комплект - Snow White</span>
                                                <span class="weight">Тегло: 5 кг.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-single-price">
                                        <span class="price">460.50 лв. / бр.</span>
                                    </div>
                                    <div class="c-quantity">
                                        <div class="quantity-input">
                                            <input type="text" value="1" readonly>
                                        </div>
                                    </div>
                                    <div class="c-final-price">
                                        <span class="price">460.50 лв.</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="content-container">
                                <div class="content">
                                    <div class="c-product">
                                        <div class="product-info">
                                            <figure>
                                                <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                            </figure>
                                            <div class="description">
                                                <span class="title">Mima Зимен комплект - Snow White</span>
                                                <span class="weight">Тегло: 5 кг.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-single-price">
                                        <span class="price">460.50 лв. / бр.</span>
                                    </div>
                                    <div class="c-quantity">
                                        <div class="quantity-input">
                                            <input type="text" value="1" readonly>
                                        </div>
                                    </div>
                                    <div class="c-final-price">
                                        <span class="price">460.50 лв.</span>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="order-container">
                            <div class="heading">
                                <div class="order-status">
                                    <span class="">В процес на доставяне</span>
                                    <span class="has-flag">Доставено на 03 / 04 / 2019г.</span>
                                </div>
                                <span>&numero; 348383884</span>
                            </div>
    
                            <div class="content-container">
                                <div class="content">
                                    <div class="c-product">
                                        <div class="product-info">
                                            <figure>
                                                <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                            </figure>
                                            <div class="description">
                                                <span class="title">Mima Зимен комплект - Snow White</span>
                                                <span class="weight">Тегло: 5 кг.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-single-price">
                                        <span class="price">460.50 лв. / бр.</span>
                                    </div>
                                    <div class="c-quantity">
                                        <div class="quantity-input">
                                            <input type="text" value="1" readonly>
                                        </div>
                                    </div>
                                    <div class="c-final-price">
                                        <span class="price">460.50 лв.</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="content-container">
                                <div class="content">
                                    <div class="c-product">
                                        <div class="product-info">
                                            <figure>
                                                <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                            </figure>
                                            <div class="description">
                                                <span class="title">Mima Зимен комплект - Snow White</span>
                                                <span class="weight">Тегло: 5 кг.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-single-price">
                                        <span class="price">460.50 лв. / бр.</span>
                                    </div>
                                    <div class="c-quantity">
                                        <div class="quantity-input">
                                            <input type="text" value="1" readonly>
                                        </div>
                                    </div>
                                    <div class="c-final-price">
                                        <span class="price">460.50 лв.</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="content-container">
                                <div class="content">
                                    <div class="c-product">
                                        <div class="product-info">
                                            <figure>
                                                <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                            </figure>
                                            <div class="description">
                                                <span class="title">Mima Зимен комплект - Snow White</span>
                                                <span class="weight">Тегло: 5 кг.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-single-price">
                                        <span class="price">460.50 лв. / бр.</span>
                                    </div>
                                    <div class="c-quantity">
                                        <div class="quantity-input">
                                            <input type="text" value="1" readonly>
                                        </div>
                                    </div>
                                    <div class="c-final-price">
                                        <span class="price">460.50 лв.</span>
                                    </div>
                                </div>
                            </div>
                                
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </main>