<main class="main">
    <section class="b-page-header">
        <div class="page-header-content">
            <svg aria-hidden="true" class="stroller-icon">
                <use xlink:href="../../images/svg-sprite.svg#category_icon_1"></use>
            </svg>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="index.html">Начало</a></li>
                    <li><a href="#">Списъчна презентационна страница</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="b-presentation-content">
        <div class="wrapper">
            <div class="boxes boxes-presentation">

                <div class="box box-presentation">
                    <figure>
                        <img src="../../images/PresentationPaga_List_03.jpg" alt="" width="290" height="180">
                    </figure>
                    <div class="content">
                        <h3 class="title">Lorem ipsum dolor sit amet</h3>
                        <div class="date">08.08.2019</div>
                        <p class="short-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsam quisquam a dicta atque officiis similique commodi. Voluptatibus est cum sapiente eius excepturi vel dolorum! Suscipit quos voluptatem hic, quia dolorem voluptatum fuga repudiandae, sint nam quisquam odio enim doloremque nostrum magnam esse quam. Vero necessitatibus quisquam ad ea perspiciatis?</p>
                        <a href="presentation-details.html" class="see-more">
                            <span>Виж още</span>
                            <svg aria-hidden="true" class="see-more-arrow">
                                <use xlink:href="../../images/svg-sprite.svg#right_arrow_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="box box-presentation">
                    <figure>
                        <img src="../../images/PresentationPaga_List_03.jpg" alt="" width="290" height="180">
                    </figure>
                    <div class="content">
                        <h3 class="title">Lorem ipsum dolor sit amet</h3>
                        <div class="date">08.08.2019</div>
                        <p class="short-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsam quisquam a dicta atque officiis similique commodi. Voluptatibus est cum sapiente eius excepturi vel dolorum! Suscipit quos voluptatem hic, quia dolorem voluptatum fuga repudiandae, sint nam quisquam odio enim doloremque nostrum magnam esse quam. Vero necessitatibus quisquam ad ea perspiciatis?</p>
                        <a href="presentation-details.html" class="see-more">
                            <span>Виж още</span>
                            <svg aria-hidden="true" class="see-more-arrow">
                                <use xlink:href="../../images/svg-sprite.svg#right_arrow_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="box box-presentation">
                    <figure>
                        <img src="../../images/PresentationPaga_List_03.jpg" alt="" width="290" height="180">
                    </figure>
                    <div class="content">
                        <h3 class="title">Lorem ipsum dolor sit amet</h3>
                        <div class="date">08.08.2019</div>
                        <p class="short-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsam quisquam a dicta atque officiis similique commodi. Voluptatibus est cum sapiente eius excepturi vel dolorum! Suscipit quos voluptatem hic, quia dolorem voluptatum fuga repudiandae, sint nam quisquam odio enim doloremque nostrum magnam esse quam. Vero necessitatibus quisquam ad ea perspiciatis?</p>
                        <a href="presentation-details.html" class="see-more">
                            <span>Виж още</span>
                            <svg aria-hidden="true" class="see-more-arrow">
                                <use xlink:href="../../images/svg-sprite.svg#right_arrow_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="box box-presentation">
                    <figure>
                        <img src="../../images/PresentationPaga_List_03.jpg" alt="" width="290" height="180">
                    </figure>
                    <div class="content">
                        <h3 class="title">Lorem ipsum dolor sit amet</h3>
                        <div class="date">08.08.2019</div>
                        <p class="short-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsam quisquam a dicta atque officiis similique commodi. Voluptatibus est cum sapiente eius excepturi vel dolorum! Suscipit quos voluptatem hic, quia dolorem voluptatum fuga repudiandae, sint nam quisquam odio enim doloremque nostrum magnam esse quam. Vero necessitatibus quisquam ad ea perspiciatis?</p>
                        <a href="presentation-details.html" class="see-more">
                            <span>Виж още</span>
                            <svg aria-hidden="true" class="see-more-arrow">
                                <use xlink:href="../../images/svg-sprite.svg#right_arrow_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>