<main class="main">
        <section class="b-page-header">
            <div class="page-header-content">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Начало</a></li>
                        <li><a href="#">Бебешки колички</a></li>
                        <li><a href="#">Колички за близнаци</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="wrapper">
        <section class="b-product-information">
                <div class="cols cols-full">
                    <div class="col col6of12">
                        <figure class="c-large-galery-img">
                            <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="420" height="420">
                            <span class="add-to-cart-label isPromo">Промо пакет</span>
                        </figure>
                    </div>
                    <div class="col col6of12">
                        <h2 class="product-title">Mima Зимен комплект - Snow White</h2>
                        <div class="availability clearfix">
                            <span class="promo-duration isValid">Промоцията е валидна 5 дни</span>
                            <span class="product-available isAvailable">Наличен пакет</span>
                        </div>
                        <p class="short-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, eius. Eveniet amet atque nisi qui aliquam odio dignissimos. Ipsam repellendus consectetur cumque deserunt tenetur, veniam culpa harum maxime accusantium minima?</p>
                        <div class="product-price">
                            <span class="old-price has-flag">500.00 лв.</span>
                            <span class="current-price">460.00 лв.</span>
                            <figure class="amount-saved">
                                <img src="../../images/cloud_03.jpg" alt="" width="125" height="90">
                                <span>Спестявате 12.99 лв</span>
                            </figure>
                        </div>
                        <div class="add-quantity-container clearfix">
                            <div class="quantity-input">
                                <span class="decrease">-</span>
                                <input type="number" step="1" min="1" value="1">
                                <span class="increase">+</span>
                            </div>
                            <button class="btn btn-secondary">Добави</button>
                        </div>
                        <div class="cols cols-full">
                            <div class="col col7of12">
                                <span class="product-number">Вътрешен номер: <mark>180 93020 32</mark></span>
                                <span class="product-unit">Мерна единица: <mark>кг.</mark></span>
                                <span class="product-weight">Тегло: <mark>5 кг.</mark></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="b-pack-products">
                <div class="pack-products-heading">
                    <h2 class="title">Продукти в пакета</h2>
                </div>
                <div class="boxes boxes-products">

                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="eye-icon">
                                <use xlink:href="../../images/svg-sprite.svg#eye_icon"></use>
                            </svg>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/PromoPacks_03.jpg" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>



                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="eye-icon">
                                <use xlink:href="../../images/svg-sprite.svg#eye_icon"></use>
                            </svg>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/PromoPacks_03.jpg" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>



                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="eye-icon">
                                <use xlink:href="../../images/svg-sprite.svg#eye_icon"></use>
                            </svg>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/PromoPacks_03.jpg" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>



                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="eye-icon">
                                <use xlink:href="../../images/svg-sprite.svg#eye_icon"></use>
                            </svg>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/PromoPacks_03.jpg" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>

                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="eye-icon">
                                <use xlink:href="../../images/svg-sprite.svg#eye_icon"></use>
                            </svg>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/PromoPacks_03.jpg" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>

                </div>
            </section>
            <section class="b-details-tabs">
                <div class="tabs-heading-container">
                    <span class="tab-heading description-heading has-flag">Описание</span>
                    <span class="tab-heading docs-heading">Прикачени документи</span>
                    <span class="tab-heading credit-heading">Купи на кредит</span>
                </div>
                <div class="tabs-content-container">
                    <div class="description-content  has-flag">
                        <div class="richtext">
                            <p>Зимен комплект за детски колички Mima. Осигурява топлина и комфорт през студентите зимни дни. Зимният комплект може да бъде поставен както на коша за новородено, така и на седалката за след 6 месеца. Подходящ за детски колички Mima Xari и Mima Kobi. Зимният комплект Mima включва Покритие за купола изработено от висококачествена, изкуствена кожа + муфа, която се поставя по ръбът в предната част на купола. Прозрачен протектор за вятър. Покритие за краката изработено от висококачествена изкуствена кожа. Протектор за ръцете при дръжката на количката изработен от висококачествена изкуствена кожа + муфа.</p>
                        </div>
                        <iframe width="100%" height="600px" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="boxes boxes-attached-files">

                        <a href="#" class="box box-attached-files">
                            <svg aria-hidden="true" class="paperclip-icon">
                                <use xlink:href="../../images/svg-sprite.svg#paperclip_icon"></use>
                            </svg>
                            <p class="file-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.pdf</p>
                        </a>

                        <a href="#" class="box box-attached-files">
                            <svg aria-hidden="true" class="paperclip-icon">
                                <use xlink:href="../../images/svg-sprite.svg#paperclip_icon"></use>
                            </svg>
                            <p class="file-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.pdf</p>
                        </a>

                        <a href="#" class="box box-attached-files">
                            <svg aria-hidden="true" class="paperclip-icon">
                                <use xlink:href="../../images/svg-sprite.svg#paperclip_icon"></use>
                            </svg>
                            <p class="file-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.pdf</p>
                        </a>

                    </div>
                    <div class="credit-content">
                        <div class="cols cols-full cols-no-gutter">
                            <div class="col col12of12 table-heading">
                                <figure class="row-title">
                                    <img src="../../images/00_02Detailed_Page_Credits-uni-credit-logo_03.png" alt="">
                                </figure>
                                <span class="column-value">3 месеца</span>
                                <span class="column-value">5 месеца</span>
                                <span class="column-value">6 месеца</span>
                                <span class="column-value">9 месеца</span>
                                <span class="column-value">12 месеца</span>
                                <span class="column-value">18 месеца</span>
                                <span class="column-value">24 месеца</span>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">Вноска</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">137.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">77.40 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">70.30 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">40.90 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">30.90 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">27.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">21.00 лв.</span>
                                </div>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">ГЛП</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">00.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">ГПР</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">35.05 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">00.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">Общ размер на кредита</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">406.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">387.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">421.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">440.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">453.83 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">486.13 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">519.78 лв.</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary">Купи на кредит</button>
                    </div>
                </div>
            </section>
            <section class="b-related-products">
                <div class="heading-container">
                    <figure>
                        <img src="../../images/00_04Products-title_03.png" alt="">
                        <h2 class="title">Свързани продукти</h2>
                    </figure>
                </div>
                <div class="boxes boxes-products">

                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/00_04Homepage-Dundio-chair_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>



                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/00_04Homepage-Dundio-scooter_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>



                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/00_04Homepage-Dundio-swing_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>



                    <a href="#" class="box box-products">
                        <div class="add-to-cart">
                            <svg aria-hidden="true" class="shopping-cart-icon">
                                <use xlink:href="../../images/svg-sprite.svg#shopping_cart_icon"></use>
                            </svg>
                            <span class="add-to-cart-label">ново</span>
                        </div>
                        <figure class="product-image">
                            <img src="../../images/00_04Homepage-Dundio-stroller-250x200_03.png" alt="">
                        </figure>
                        <h3 class="product-title">Lorelli Стол за кола Magic</h3>
                        <p class="product-description">+SPS 9-36 кг. Black and Green Stars</p>
                        <span class="product-make">Lorelli</span>
                        <div class="product-price clearfix">
                            <span class="old-price">159.90лв.</span>
                            <span class="new-price">159.90лв.</span>
                        </div>
                    </a>

                </div>
            </section>
        </div>
    </main>