<main class="main">
    <div class="wrapper">
        <section class="b-registration-form-container">
            <div class="c-reg-tabs">
                <div class="cols cols-no-gutter cols-full">
                    <div class="col col6of12">
                        <span class="tab-personal has-flag">Физическо лице</span>
                    </div>
                    <div class="col col6of12">
                        <span class="tab-business">Юридическо лице</span>
                    </div>
                </div>
            </div>
            <form action="" class="form-personal-acc has-flag">
                <h3 class="title">Създаване на акаунт</h3>
                <div class="field field-input">
                    <div class="form-row">
                        <input type="text" placeholder="Потребителско име">
                    </div>
                    <div class="form-row">
                        <input type="password" placeholder="Парола">
                    </div>
                    <div class="form-row">
                        <input type="password" placeholder="Повтори парола">
                    </div>
                </div>
                <h3 class="title">Персонална информация</h3>
                <div class="field field-input">
                    <div class="form-row">
                        <input type="text" placeholder="Имена">
                    </div>
                    <div class="form-row">
                        <input type="email" placeholder="И-мейл">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Телефон за връзка">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Номер на карта Dundio CLUB">
                    </div>
                </div>
                <h3 class="title">Адреси за доставка</h3>
                <div class="field field-input">
                    <div class="form-row">
                        <input type="text" placeholder="Адрес">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Населено място">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Област">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Пощенски код">
                    </div>
                    <div class="form-row">
                        <div class="choose check">
                            <input type="checkbox" name="personal-data" id="personal-data">
                            <label for="personal-data">Съгласявам се личните ми данни да бъдат обработени от сайта</label>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-tertiary" value="Регистрация">
            </form>
            <form action="" class="form-business-acc">
                <h3 class="title">Създаване на акаунт</h3>
                <div class="field field-input">
                    <div class="form-row">
                        <input type="text" placeholder="Потребителско име">
                    </div>
                    <div class="form-row">
                        <input type="password" placeholder="Парола">
                    </div>
                    <div class="form-row">
                        <input type="password" placeholder="Повтори парола">
                    </div>
                </div>
                <h3 class="title">Информация за фирмата</h3>
                <div class="field field-input">
                    <div class="form-row">
                        <input type="text" placeholder="Име на юридическо лице">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Адрес по данъчна регистрация">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="МОЛ">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="ЕИК">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="ДДС номер">
                    </div>
                </div>
                <h3 class="title">Лице за контакт</h3>
                <div class="field field-input">
                    <div class="form-row">
                        <input type="text" placeholder="Имена">
                    </div>
                    <div class="form-row">
                        <input type="email" placeholder="И-мейл">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Телефон за връзка">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Номер на карта Dundio CLUB">
                    </div>
                </div>
                <h3 class="title">Адреси за доставка</h3>
                <div class="field field-input">
                    <div class="form-row">
                        <input type="text" placeholder="Адрес">
                    </div>
                    <div class="form-row">
                        <div class="choose check">
                            <input type="checkbox" name="address-match" id="address-match">
                            <label for="address-match">Адресът за доставка не съвпада с този по данъчна регистрация</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Населено място">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Област">
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Пощенски код">
                    </div>
                    <div class="form-row">
                        <div class="choose check">
                            <input type="checkbox" name="personal-data-1" id="personal-data-1">
                            <label for="personal-data-1">Съгласявам се личните ми данни да бъдат обработени от сайта</label>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-tertiary" value="Регистрация">
            </form>
        </section>
    </div>
</main>