<main class="main">
        <div class="b-cart-step3">
            <div class="wrapper">
    
                <div class="c-steps-container">
                    <div class="horizontal-line-container">
                        <span class="horizontal-line"></span>
                    </div>
                    <div class="step-nodes">
                        <div class="step-node">
                            <span>1</span>
                            <span>Моята поръчка</span>
                        </div>
                        <div class="step-node">
                            <span>2</span>
                            <span>Данни за поръчката</span>
                        </div>
                        <div class="step-node has-flag">
                            <span>3</span>
                            <span>Преглед на поръчката</span>
                        </div>
                        <div class="step-node">
                            <span>4</span>
                            <span>Завършена поръчка</span>
                        </div>
                    </div>
                </div>
                <div class="credit-options-table">
                    <div class="credit-content">
                        <div class="cols cols-full cols-no-gutter">
                            <div class="col col12of12 table-heading">
                                <figure class="row-title">
                                    <img src="../../images/00_02Detailed_Page_Credits-uni-credit-logo_03.png" alt="">
                                </figure>
                                <span class="column-value">3 месеца</span>
                                <span class="column-value">5 месеца</span>
                                <span class="column-value">6 месеца</span>
                                <span class="column-value">9 месеца</span>
                                <span class="column-value">12 месеца</span>
                                <span class="column-value">18 месеца</span>
                                <span class="column-value">24 месеца</span>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">Вноска</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">137.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">77.40 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">70.30 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">40.90 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">30.90 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">27.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">21.00 лв.</span>
                                </div>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">ГЛП</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">00.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">30.00 %</span>
                                </div>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">ГПР</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">35.05 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">00.00 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">34.76 %</span>
                                </div>
                            </div>
                            <div class="col col12of12 table-row">
                                <span class="row-title">Общ размер на кредита</span>
                                <div class="column-value">
                                    <span class="title">3 месеца</span>
                                    <span class="value">406.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">5 месеца</span>
                                    <span class="value">387.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">6 месеца</span>
                                    <span class="value">421.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">9 месеца</span>
                                    <span class="value">440.00 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">12 месеца</span>
                                    <span class="value">453.83 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">18 месеца</span>
                                    <span class="value">486.13 лв.</span>
                                </div>
                                <div class="column-value">
                                    <span class="title">24 месеца</span>
                                    <span class="value">519.78 лв.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-order-summary">
                    <div class="components-container">
                        <div class="component clearfix">
                            <span>Данни за доставка</span>
                            <span>До адрес</span>
                        </div>
                        <div class="component clearfix">
                            <span>Начин на плащане</span>
                            <span>Разсрочено плащане с Unicredit</span>
                        </div>
                        <form action="" class="form-recalculate">
                            <div class="cols cols-full">
                                <div class="col col4of12">
                                    <div class="form-row">
                                        <input type="text" placeholder="Начална вноска">
                                    </div>
                                </div>
                                <div class="col col4of12">
                                    <div class="form-row">
                                        <select name="credit-duration" id="credit_duration">
                                            <option value="0">3 месеца</option>
                                            <option value="1">3 месеца</option>
                                            <option value="2">5 месеца</option>
                                            <option value="3">6 месеца</option>
                                            <option value="4">9 месеца</option>
                                            <option value="5">12 месеца</option>
                                            <option value="6">18 месеца</option>
                                            <option value="7">24 месеца</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col4of12">
                                    <button type="submit" class="btn btn-secondary">Преизчисли</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="component clearfix">
                        <span>Тотали на поръчката</span>
                        <span>600.00 лв.</span>
                    </div>
                    <form action="" class="form-terms-and-conditions">
                        <div class="form-row">
                            <div class="choose check">
                                <input type="checkbox" name="agree-to-terms" id="agree-to-terms">
                                <label for="agree-to-terms">Съгласявам се с <a href="#">Общите условия</a> на сайта</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="choose check">
                                <input type="checkbox" name="summary-personal-data" id="summary-personal-data">
                                <label for="summary-personal-data">Съгласявам се личните ми данни да бъдат обработени от сайта</label>
                            </div>
                        </div>
                        <input type="button" class="btn btn-tertiary" id="finish_order_business_js" value="Финализирай">
                    </form>
                </div>
    
            </div>
        </div>
    </main>