<main class="main">
    <div class="wrapper">
        <section class="b-cart-content">
            <div class="cart-product-list">
                <div class="cols cols-full cols-no-gutter">
                    <div class="col col12of12">
                        <div class="heading">
                            <div class="c-product">
                                <span class="heading-text">Продукт</span>
                            </div>
                            <div class="c-single-price">
                                <span class="heading-text">Ед. цена</span>
                            </div>
                            <div class="c-quantity">
                                <span class="heading-text">Количество</span>
                            </div>
                            <div class="c-final-price">
                                <span class="heading-text">Крайна цена</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col12of12">
                        <div class="content-container">

                            <div class="content">
                                <div class="c-product">
                                    <span class="heading-text">Продукт</span>
                                    <div class="product-info">
                                        <figure>
                                            <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                        </figure>
                                        <div class="description">
                                            <span class="title">Mima Зимен комплект - Snow White</span>
                                            <span class="weight">Тегло: 5 кг.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-single-price">
                                    <span class="heading-text">Ед. цена</span>
                                    <span class="price">460.50 лв.</span>
                                </div>
                                <div class="c-quantity">
                                    <span class="heading-text">Количество</span>
                                    <div class="quantity-input">
                                        <span class="decrease">-</span>
                                        <input type="number" value="1" step="1" min="1">
                                        <span class="increase">+</span>
                                    </div>
                                </div>
                                <div class="c-final-price">
                                    <span class="heading-text">Крайна цена</span>
                                    <span class="price">460.50 лв.</span>
                                </div>
                                <div class="c-remove-item">
                                    <svg aria-hidden="true" class="cross-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#cross_icon"></use>
                                    </svg>
                                </div>
                            </div>

                            <div class="content">
                                <div class="c-product">
                                    <span class="heading-text">Продукт</span>
                                    <div class="product-info">
                                        <figure>
                                            <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                        </figure>
                                        <div class="description">
                                            <span class="title">Mima Зимен комплект - Snow White</span>
                                            <span class="weight">Тегло: 5 кг.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-single-price">
                                    <span class="heading-text">Ед. цена</span>
                                    <span class="price">460.00 лв.</span>
                                </div>
                                <div class="c-quantity">
                                    <span class="heading-text">Количество</span>
                                    <div class="quantity-input">
                                        <span class="decrease">-</span>
                                        <input type="number" step="1" min="1" value="1">
                                        <span class="increase">+</span>
                                    </div>
                                </div>
                                <div class="c-final-price">
                                    <span class="heading-text">Крайна цена</span>
                                    <span class="price">460.00 лв.</span>
                                </div>
                                <div class="c-remove-item">
                                    <svg aria-hidden="true" class="cross-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#cross_icon"></use>
                                    </svg>
                                </div>
                            </div>

                            <div class="content">
                                <div class="c-product">
                                    <span class="heading-text">Продукт</span>
                                    <div class="product-info">
                                        <figure>
                                            <img src="../../images/00_02Detailed_Page_product-img_03.jpg" alt="" width="60" height="60">
                                        </figure>
                                        <div class="description">
                                            <span class="title">Mima Зимен комплект - Snow White</span>
                                            <span class="weight">Тегло: 5 кг.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-single-price">
                                    <span class="heading-text">Ед. цена</span>
                                    <span class="price">460.00 лв.</span>
                                </div>
                                <div class="c-quantity">
                                    <span class="heading-text">Количество</span>
                                    <div class="quantity-input">
                                        <span class="decrease">-</span>
                                        <input type="number" value="1" step="1" min="1">
                                        <span class="increase">+</span>
                                    </div>
                                </div>
                                <div class="c-final-price">
                                    <span class="heading-text">Крайна цена</span>
                                    <span class="price">460.00 лв.</span>
                                </div>
                                <div class="c-remove-item">
                                    <svg aria-hidden="true" class="cross-icon">
                                        <use xlink:href="../../images/svg-sprite.svg#cross_icon"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="cols cols-full">
                <div class="col col8of12">
                    <div class="c-discount">
                        <figure>
                            <img src="../../images/00_01_ShoppingCard-discount_03.png" alt="" width="835" height="310">
                        </figure>
                        <div class="club-points">
                            <figure>
                                <img src="../../images/cloud_03.png" alt="" width="250" height="140">
                                <span>Вашите точки са: <b>40</b></span>
                            </figure>
                        </div>
                        <div class="discount-content">
                            <div class="heading">
                                <h3 class="title">Дундьо CLUB или промо код</h3>
                                <p class="description">Използвайте своята Дундьо CLUB карта или промо код и се възползвайте от вашата отстъпка.</p>
                            </div>
                            <form action="">
                                <div class="form-row">
                                    <div class="choose check">
                                        <input type="checkbox" name="use-club-cart" id="use-club-cart">
                                        <label for="use-club-cart">Приспадане на сумата с Дундьо клуб</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <input type="text" placeholder="Номер на карта или промо код">
                                    <button class="btn btn-primary">Добави</button>
                                    <span class="error_code">Този промо код вече е използван!</span>
                                </div>
                            </form>
                            <p class="discount-info">*Отстъпката не се прилага върху продукти на промоция или промо пакети, както и върху цената за доставка.</p>
                        </div>
                    </div>
                </div>
                <div class="col col4of12">
                    <div class="c-price-overview">
                        <div class="price-constructor">
                            <div class="price-info clearfix">
                                <span>Обща сума на поръчката</span>
                                <div class="price-wrapper">
                                    <span>600.00</span>
                                    <span>лв.</span>
                                </div>
                            </div>
                            <div class="price-info clearfix">
                                <span>Обща сума на поръчката</span>
                                <div class="price-wrapper">
                                    <span>600.00</span>
                                    <span>лв.</span>
                                </div>
                            </div>
                        </div>
                        <div class="total-price-container clearfix">
                            <span>Крайна сума с ДДС</span>
                            <div class="price-wrapper">
                                <span>620.00</span>
                                <span>лв.</span>
                            </div>
                        </div>
                        <a href="shopping-cart-step2.html" class="btn btn-finish">Завърши поръчката</a>
                        <a href="#" class="btn btn-continue">Продължи с пазаруването</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>