<main class="main">
    <div class="b-cart-step3">
        <div class="wrapper">

            <div class="c-steps-container">
                <div class="horizontal-line-container">
                    <span class="horizontal-line"></span>
                </div>
                <div class="step-nodes">
                    <div class="step-node">
                        <span>1</span>
                        <span>Моята поръчка</span>
                    </div>
                    <div class="step-node">
                        <span>2</span>
                        <span>Данни за поръчката</span>
                    </div>
                    <div class="step-node has-flag">
                        <span>3</span>
                        <span>Преглед на поръчката</span>
                    </div>
                    <div class="step-node">
                        <span>4</span>
                        <span>Завършена поръчка</span>
                    </div>
                </div>
            </div>
            <div class="c-order-summary">
                <div class="components-container">
                    <div class="component clearfix">
                        <span>Данни за доставка</span>
                        <span>До адрес</span>
                    </div>
                    <div class="component clearfix">
                        <span>Начин на плащане</span>
                        <span>Наложен платеж</span>
                    </div>
                </div>
                <div class="component clearfix">
                    <span>Тотали на поръчката</span>
                    <span>600.00 лв.</span>
                </div>
                <form action="" class="form-terms-and-conditions">
                    <div class="form-row">
                        <div class="choose check">
                            <input type="checkbox" name="agree-to-terms" id="agree-to-terms">
                            <label for="agree-to-terms">Съгласявам се с <a href="#">Общите условия</a> на сайта</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="choose check">
                            <input type="checkbox" name="summary-personal-data" id="summary-personal-data">
                            <label for="summary-personal-data">Съгласявам се личните ми данни да бъдат обработени от сайта</label>
                        </div>
                    </div>
                    <input type="button" class="btn btn-tertiary" id="finish_order_js"  value="Финализирай">
                </form>
            </div>

        </div>
    </div>
</main>