{% load static %}
<div class="paging">
    <ul>
        <li class="prev">
            <a href="">
                <svg aria-hidden="true" class="arrow-left-icon">
                    <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#down_arrow_icon"></use>
                </svg>
            </a>
        </li>
        <li class="selected"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">6</a></li>
        <li class="next">
            <a href="">
                <svg aria-hidden="true" class="arrow-right-icon">
                    <use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#down_arrow_icon"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>