<footer class="footer">
    <div class="footer-container">
        <div class="wrapper">
            <div class="footer-newsletter">
                <div class="newsletter-heading">
                    <h2 class="title">Абонирай се за бюлетин</h2>
                    <p class="short-description">Никога не пропускайте нашите горещи предложения! Побързайте да се запишете сега като оставите електронна поща за контакт с Вас.</p>
                </div>
                <div class="email-container">
                    <svg aria-hidden="true" class="plane-icon">
						<use xlink:href="../../images/svg-sprite.svg#plane_icon"></use>
					</svg>
                    <form action="" method="POST">
                        <div class="form-row">
                            <input type="text" placeholder="E-mail">
                            <button type="submit" class="btn btn-primary">Изпрати</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-middle">
                <div class="cols">

                    <div class="col col20custom">
                        <h3 class="title">Информация</h3>
                        <ul>
                            <li><a href="#">За нас</a></li>
                            <li><a href="#">Срокове и доставка</a></li>
                            <li><a href="#">Поверителност и GDPR</a></li>
                            <li><a href="#">Условия за рекламация</a></li>
                        </ul>
                    </div>

                    <div class="col col20custom">
                        <h3 class="title">Обсужване на клиенти</h3>
                        <ul>
                            <li><a href="#">Контакт с нас</a></li>
                            <li><a href="#">Формуляр за връщане</a></li>
                            <li><a href="#">Карта на сайта</a></li>
                        </ul>
                    </div>

                    <div class="col col20custom">
                        <h3 class="title">Допълнителна информация</h3>
                        <ul>
                            <li><a href="#">Производители</a></li>
                            <li><a href="#">Ваучер подарък</a></li>
                            <li><a href="#">Промоции</a></li>
                        </ul>
                    </div>

                    <div class="col col20custom">
                        <h3 class="title">Моят профил</h3>
                        <ul>
                            <li><a href="#">Моят профил</a></li>
                            <li><a href="#">История на поръчките</a></li>
                            <li><a href="#">Лист с желани</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>

                    <div class="col col20custom">
                        <h3 class="title">Последвайте ни</h3>
                        <ul>
                            <li class="social-links">
                                <a href="#">
                                    <svg aria-hidden="true" class="facebook-icon">
										<use xlink:href="../../images/svg-sprite.svg#facebook_icon"></use>
									</svg>
                                </a>
                            </li>
                            <li class="social-links">
                                <a href="#">
                                    <img src="../../images/instagram-icon.svg" class="instagram-icon" alt="inastgram icon">
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="footer-bottom">
                <p class="copy-right-text">Всички права запазени &copy;2019 ДУНДЬО</p>
                <div class="pytek-credit">
                    <span>Уеб дизайн и програмиране от</span>
                    <svg aria-hidden="true" class="pytek-icon">
						<use xlink:href="../../images/svg-sprite.svg#pytek_icon"></use>
					</svg>
                </div>
            </div>
        </div>
        <svg aria-hidden="true" class="cloud-left-icon">
			<use xlink:href="../../images/svg-sprite.svg#cloud_left_icon"></use>
		</svg>
        <svg aria-hidden="true" class="cloud-right-icon">
			<use xlink:href="../../images/svg-sprite.svg#cloud_right_icon"></use>
		</svg>
        <svg aria-hidden="true" class="cloud-center-icon">
			<use xlink:href="../../images/svg-sprite.svg#cloud_center_icon"></use>
		</svg>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $.cookieBar({
            acceptText: "Приемам",
            message: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href='gdpr.html'>Lorem Ipsum</a>",
        })
    })
</script>