<header class="header">
	<div class="header-container">
		<div class="header-top">
			<nav class="nav-secondary">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<figure>
					<a href="index.html">
						<svg aria-hidden="true" class="nav-dundio-logo">
							<use xlink:href="../../images/svg-sprite.svg#nav_dundio_logo"></use>
						</svg>
					</a>
				</figure>
				<div class="search-box">
					<form action="" method="POST">
						<input type="text" id="search" autocomplete="off" placeholder="Търсене ...">
						<button type="submit" id="search_js">
							<svg aria-hidden="true" class="search-icon">
								<use xlink:href="../../images/svg-sprite.svg#search_icon"></use>
							</svg>
						</button>
						<ul class="search-dropdown">
							<li class="dropdown-item clearfix">
								<a href="">
									<div class="product-info">
										<figure><img src="../../images/00_04Homepage-Dundio-chair_03.png" alt=""></figure>
										<p>Graco Стол за кола 0-12 ГОДИНИ ISOFIX - InRight™ LATCH SYSTEM Group 0+/1/2/3</p>
									</div>
									<div class="product-price">
										<span class="price old-price">159.90euro</span>
										<span class="price new-price">159.90euro</span>
									</div>
								</a>
							</li>
							<li class="dropdown-item clearfix">
								<a href="">
									<div class="product-info">
										<figure><img src="../../images/00_04Homepage-Dundio-chair_03.png" alt=""></figure>
										<p>Graco Стол за кола 0-12 ГОДИНИ ISOFIX - InRight™ LATCH SYSTEM Group 0+/1/2/3</p>
									</div>
									<div class="product-price">
										<span class="price old-price">159.90euro</span>
										<span class="price new-price">159.90euro</span>
									</div>
								</a>
							</li>
						</ul>
					</form>
				</div>
				<ul>
					<li>
						<a href="login.html">
							<svg aria-hidden="true" class="text-icon">
								<use xlink:href="../../images/svg-sprite.svg#user_icon"></use>
							</svg>
							<span>Моят профил</span>
						</a>
					</li>
					<li>
						<a href="#">
							<svg aria-hidden="true" class="text-icon">
								<use xlink:href="../../images/svg-sprite.svg#phone_icon"></use>
							</svg>
							<span>Контакти</span>
						</a>
					</li>
					<li>
						<select name="languages" id="languages_js">
							<option value="0">Бг</option>
							<option value="1">Бг</option>
							<option value="2">En</option>
						</select>
						<svg aria-hidden="true" class="dropdown-icon">
							<use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
						</svg>
					</li>
					<li>
						<a href="#">
							<svg aria-hidden="true" class="shopping-bag-icon">
								<use xlink:href="../../images/svg-sprite.svg#shopping_bag_icon"></use>
							</svg>
							<span class="cart-items-number">3</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="header-bottom">
			<nav class="nav-primary">
				{{> _nav-primary }}
			</nav>
		</div>
	</div>
</header>
