<div class="msg">
	<p class="title">Basic message style!</p>

	<div class="rich-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur similique non nisi ullam ipsa sunt autem veniam eos molestiae soluta ea error rerum iure iusto necessitatibus perferendis perspiciatis dignissimos officia architecto, quo doloremque assumenda et, saepe nemo. Deserunt harum beatae expedita nihil asperiores omnis, molestiae itaque architecto obcaecati. Vitae, aspernatur, nemo! Omnis atque, ea iste similique nobis. Veritatis voluptate itaque ex, inventore beatae, nisi, impedit asperiores quis, sunt saepe voluptas.</p>
	</div>
</div>

<div class="msg msg-success">
	<p class="title">Success message style!</p>

	<div class="rich-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, mollitia. Distinctio quasi, aut deleniti ipsa sint corporis facilis vel ab perspiciatis magni expedita commodi hic odio architecto, autem maiores eos voluptatum dolorum, porro. Fugiat, nostrum, aut. Odio corporis repellat autem facilis laudantium repellendus doloremque iste unde et necessitatibus, quia consequatur, nemo dicta ullam adipisci cum laborum. Minima porro, perspiciatis, illum ipsum quasi placeat natus minus quo itaque similique voluptatum neque.</p>
	</div>
</div>

<div class="msg msg-error">
	<p class="title">Error message style!</p>

	<div class="rich-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur similique non nisi ullam ipsa sunt autem veniam eos molestiae soluta ea error rerum iure iusto necessitatibus perferendis perspiciatis dignissimos officia architecto, quo doloremque assumenda et, saepe nemo. Deserunt harum beatae expedita nihil asperiores omnis, molestiae itaque architecto obcaecati. Vitae, aspernatur, nemo! Omnis atque, ea iste similique nobis. Veritatis voluptate itaque ex, inventore beatae, nisi, impedit asperiores quis, sunt saepe voluptas.</p>
	</div>
</div>

<div class="msg msg-info">
	<p class="title">Info message style!</p>

	<div class="rich-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur similique non nisi ullam ipsa sunt autem veniam eos molestiae soluta ea error rerum iure iusto necessitatibus perferendis perspiciatis dignissimos officia architecto, quo doloremque assumenda et, saepe nemo. Deserunt harum beatae expedita nihil asperiores omnis, molestiae itaque architecto obcaecati. Vitae, aspernatur, nemo! Omnis atque, ea iste similique nobis. Veritatis voluptate itaque ex, inventore beatae, nisi, impedit asperiores quis, sunt saepe voluptas.</p>
	</div>
</div>

<div class="msg msg-warning">
	<p class="title">Warning message style!</p>

	<div class="rich-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur similique non nisi ullam ipsa sunt autem veniam eos molestiae soluta ea error rerum iure iusto necessitatibus perferendis perspiciatis dignissimos officia architecto, quo doloremque assumenda et, saepe nemo. Deserunt harum beatae expedita nihil asperiores omnis, molestiae itaque architecto obcaecati. Vitae, aspernatur, nemo! Omnis atque, ea iste similique nobis. Veritatis voluptate itaque ex, inventore beatae, nisi, impedit asperiores quis, sunt saepe voluptas.</p>
	</div>
</div>

<p class="msg">Basic message style!</p>
<p class="msg msg-success">Success Message style!</p>
<p class="msg msg-error">Error Message style!</p>
<p class="msg msg-info">Info Message style!</p>
<p class="msg msg-warning">Warning Message style!</p>
