<ul class="level-1">
	<li>
		<a href="products.html">Бебешки колички</a>
		<span>Бебешки колички</span>
		<div class="dropdown-menu">
			<div class="heading">
				<svg aria-hidden="true" class="dropdown-heading-icon">
					<use xlink:href="../../images/svg-sprite.svg#category_icon_1"></use>
				</svg>
				<a href="products.html">Бебешки колички</span>
			</div>
			<div class="content">
				<ul class="level-2">
					<li><a href="#">Бебешки колички за породени</a></li>
					<li><a href="#">Кошове за породено</a></li>
					<li><a href="#">Сенници за количка</a></li>
					<li><a href="#">Чанти за количка</a></li>
					<li><a href="#">Кенгура и ергономични раници</a></li>
					<li><a href="#">Маншони и ръкавици за количка</a></li>
					<li><a href="#">Термочувал за количка</a></li>
					<li><a href="#">Аксесоари</a>
						<ul class="level-3">
							<li>
								<svg aria-hidden="true" class="dropdown-icon">
									<use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
								</svg>
								<a href="#">Аксесоар 1</a>
							</li>
							<li>
								<svg aria-hidden="true" class="dropdown-icon">
									<use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
								</svg>
								<a href="#">Аксесоар 2</a>
							</li>
							<li>
								<svg aria-hidden="true" class="dropdown-icon">
									<use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
								</svg>
								<a href="#">Аксесоар 3</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Колички за тризнаци</a></li>
					<li><a href="#">Летни колички</a></li>
					<li><a href="#">Триколки</a></li>
					<li><a href="#">Колички за близнаци</a></li>
					<li><a href="#">Подложки за количка</a></li>
					<li><a href="#">Чадъри за количка</a></li>
					<li><a href="#">Комбинирана количка</a></li>
					<li><a href="#">Портбебета</a></li>
					<li><a href="#">Четриколка</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<a href="#">Всичко за детето</a>
		<span>Всичко за детето</span>
	</li>
	<li>
		<a href="#">Безопастност</a>
		<span>Безопастност</span>
	</li>
	<li>
		<a href="#">Уреди</a>
		<span>Уреди</span>
	</li>
	<li>
		<a href="#">Хигиена</a>
		<span>Хигиена</span>
	</li>
	<li>
		<a href="#">Спорт</a>
		<span>Спорт</span>
	</li>
	<li>
		<a href="#">За баня</a>
		<span>За баня</span>
	</li>
	<li>
		<a href="#">Играчки</a>
		<span>Играчки</span>
	</li>
	<li>
		<a href="#">Хранене</a>
		<span>Хранене</span>
	</li>
	<li>
		<a href="#">Обзавеждане за стая</a>
		<span>Обзавеждане за стая</span>
	</li>
	<li>
		<a href="#">Всичко за майката</a>
		<span>Всичко за майката</span>
	</li>
	<li>
		<a href="#">Облекло и аксесоари</a>
		<span>Облекло и аксесоари</span>
	</li>
	<li class="promo-tab is-link">
		<a href="#">Промо</a>
		<span>Промо</span>
		<div class="dropdown-menu">
			<div class="heading">
				<svg aria-hidden="true" class="dropdown-heading-icon">
					<use xlink:href="../../images/svg-sprite.svg#category_icon_1"></use>
				</svg>
				<a href="products.html">Бебешки колички</span>
			</div>
			<div class="content">
				<ul class="level-2">
					<li><a href="#">Бебешки колички за породени</a></li>
					<li><a href="#">Кошове за породено</a></li>
					<li><a href="#">Сенници за количка</a></li>
					<li><a href="#">Чанти за количка</a></li>
					<li><a href="#">Кенгура и ергономични раници</a></li>
					<li><a href="#">Маншони и ръкавици за количка</a></li>
					<li><a href="#">Термочувал за количка</a></li>
					<li><a href="#">Аксесоари</a>
						<ul class="level-3">
							<li>
								<svg aria-hidden="true" class="dropdown-icon">
									<use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
								</svg>
								<a href="#">Аксесоар 1</a>
							</li>
							<li>
								<svg aria-hidden="true" class="dropdown-icon">
									<use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
								</svg>
								<a href="#">Аксесоар 2</a>
							</li>
							<li>
								<svg aria-hidden="true" class="dropdown-icon">
									<use xlink:href="../../images/svg-sprite.svg#down_arrow_icon"></use>
								</svg>
								<a href="#">Аксесоар 3</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Колички за тризнаци</a></li>
					<li><a href="#">Летни колички</a></li>
					<li><a href="#">Триколки</a></li>
					<li><a href="#">Колички за близнаци</a></li>
					<li><a href="#">Подложки за количка</a></li>
					<li><a href="#">Чадъри за количка</a></li>
					<li><a href="#">Комбинирана количка</a></li>
					<li><a href="#">Портбебета</a></li>
					<li><a href="#">Четриколка</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>
