{% extends 'base.html' %}
{% block content %}
    {% load i18n %}
    <main class="main">
        <div class="wrapper">
            <form action="{% url 'reset_pass' %}" method="POST" class="form-change-password">
                {% csrf_token %}
                <h3 class="title">{% trans 'Създайте нова парола' %}</h3>
                {% if form.non_field_errors %}
                    <div class="form-row">
                        <h6 style="color: red">{{ form.non_field_errors }}</h6>
                    </div>
                {% endif %}
                <div class="form-row">
                    <h6 style="color: red">{{ form.new_password.errors }}</h6>
                    <input type="password" name="new_password" placeholder="{% trans 'Нова парола' %}">
                </div>
                <div class="form-row">
                    <h6 style="color: red">{{ form.re_password.errors }}</h6>
                    <input type="password" name="re_password" placeholder="{% trans 'Повтори парола' %}">
                </div>
                <input type="text" name="token" value="{{ request.GET.token|default:form.token.value }}" hidden>
                <input type="text" name="email" value="{{ request.GET.email|default:form.email.value }}" hidden>
                <button type="submit" class="btn btn-tertiary">{% trans 'Промени' %}</button>
            </form>
        </div>
    </main>
{% endblock %}
