{% extends 'base.html' %}
{% block content %}
    {% load i18n %}
    <main class="main">
        <div class="wrapper">
            <form action="{% url 'forgotten_pass' %}" method="POST" class="form-forgotten-pass">
                {% csrf_token %}
                <h3 class="title">{% trans 'Моля, въведете и-мейл, за да смените паролата си!' %}</h3>
                <div class="form-row">
                    <h6 style="color: red">{{ form.email.errors }}</h6>
                    <input type="email" name='email' placeholder="{% trans 'E-mail' %}">
                </div>
                <button type="submit" class="btn btn-tertiary">{% trans 'Изпрати' %}</button>
            </form>
        </div>
    </main>
{% endblock %}
